<h1>Listing fiscal_data</h1>

<table>
  <thead>
    <tr>
      <th>Rfc</th>
      <th>Entity name</th>
      <th>Date of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fiscal_data.each do |fiscal_datum| %>
      <tr>
        <td><%= fiscal_datum.RFC %></td>
        <td><%= fiscal_datum.entity_name %></td>
        <td><%= fiscal_datum.date_of_birth %></td>
        <td><%= link_to 'Show', fiscal_datum %></td>
        <td><%= link_to 'Edit', edit_fiscal_datum_path(fiscal_datum) %></td>
        <td><%= link_to 'Destroy', fiscal_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fiscal datum', new_fiscal_datum_path %>
