<p id="notice"><%= notice %></p>

<p>
  <strong>Entry date:</strong>
  <%= @order.entry_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Expenses:</strong>
  <%= @order.expenses %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @order.total_cost %>
</p>

<p>
  <strong>Promised date:</strong>
  <%= @order.promised_date %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
