<h1>Listing order_vehicle_workshops</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Workshop</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_vehicle_workshops.each do |order_vehicle_workshop| %>
      <tr>
        <td><%= order_vehicle_workshop.vehicle.vehicle_info %></td>
        <td><%= order_vehicle_workshop.workshop.name %></td>
        <td><%= order_vehicle_workshop.order.order_info %></td>
        <td><%= link_to 'Show', order_vehicle_workshop %></td>
        <td><%= link_to 'Edit', edit_order_vehicle_workshop_path(order_vehicle_workshop) %></td>
        <td><%= link_to 'Destroy', order_vehicle_workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order vehicle workshop', new_order_vehicle_workshop_path, class: "button medium success" %>
