<%= form_for(@labor) do |f| %>
  <% if @labor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labor.errors.count, "error") %> prohibited this labor from being saved:</h2>

      <ul>
      <% @labor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estimated_time %><br>
    <%= f.time_select :estimated_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :external_comision %><br>
    <%= f.text_field :external_comision %>
  </div>
  <div class="field">
    <%= f.label :internal_comision %><br>
    <%= f.text_field :internal_comision %>
  </div>
  <div class="actions">
    <%= f.submit class: "button medium success" %>
  </div>
<% end %>
