<ul class="side-nav">
  <li><h4 style="margin-left:13px;">Menú</h4></li>
  <li><a href="<%= workshops_path %>">Talleres</a></li>
  <li><a href="<%= clients_path %>">Clientes</a></li>
  <li><a href="<%= vehicles_path %>">Vehículo</a></li>
  <li><a href="<%= procedures_path %>">Procedimientos</a></li>
  <li><a href="<%= orders_path %>">Órdenes</a></li>
  <li><a href="<%= labors_path %>">Mano de Obra</a></li>
  <li><a href="<%= fiscal_data_path %>">Datos Fiscales</a></li>
  <li><a href="<%= locations_path %>">Ubicaciones</a></li>
  <li><a href="<%= spare_parts_path %>">Refacciones</a></li> 
</ul>