<ul class="side-nav" style="padding-top:0px;">
  <h1 id="main-title" style="margin: 0px;text-align:center;">
    <a href="<%= root_path %>" class="button tiny success" style="padding: 26px;margin-bottom: 0px;font-size:22px;">
      <b>Car World Center</b>
    </a>
  </h1>
  <hr style="margin-top: 0px;">
  <li><h4 style="margin-left:13px; color: #43ac6a;">Sidebar</h4></li>
  <li><a href="<%= workshops_path %>">Workshop</a></li>
  <li><a href="<%= clients_path %>">Clients</a></li>
  <li><a href="<%= employees_path %>">Employees</a></li>
  <li><a href="<%= vehicles_path %>">Vehicles</a></li>
  <li><a href="<%= procedures_path %>">Procedures</a></li>
  <li><a href="<%= orders_path %>">Orders</a></li>
  <li><a href="<%= labors_path %>">Labor</a></li>
  <li><a href="<%= fiscal_data_path %>">Fiscal Data</a></li>
  <li><a href="<%= locations_path %>">Locations</a></li>
  <li><a href="<%= spare_parts_path %>">Spare Parts</a></li>
  <li><a href="<%= order_vehicle_workshops_path %>">Order Vehicle Workshop</a></li>
  <li><a href="<%= finance_path %>">Finance</a></li> 
  <li><a href="<%= reports_path %>">Reports</a></li> 
</ul>