<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Car World Center" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

      <div class="large-2 columns" style="height:100%; padding:0px; background-color: #333">
        <%= render 'layouts/side_nav' %>
      </div>

      <div class="large-7 columns" style="padding: 5px 23px 0px 32px;">
        <%= yield %>
      </div>

      <div class="large-3 columns" style="height:100%; border-left:1px solid rgb(207, 207, 207);">
        <h3>SQL</h3>
        <hr>
        <div id="SQL" style="font-family:monospace; font-size:20px; background-color:rgb(254, 255, 216);">
          <script>
            $(function(){
              $('#SQL').val('');
              <% @sql = 'No hay SQL.' unless @sql %>
              <% @sql2 = '' unless @sql2 %>
              $('#SQL').append('<%= @sql %>'); 
              $('#SQL').append('<hr />');
              $('#SQL').append('<%= @sql2 %>');    
            });
          </script>
        </div>
      </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>