<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Car World Center" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>

      <div class="large-2 columns" style="height:100%; padding:0px; background-color: #DFDFDF">
        <%= render 'layouts/side_nav' %>
      </div>

      <div class="large-7 columns" style="padding: 5px 23px 0px 23px;">
        <%= yield %>
      </div>

      <div class="large-3 columns" style="height:100%; border-left:1px solid gray;">
        <h3>SQL</h3>
        <hr>
        <div id="SQL" style="font-family:Consolas; background-color:rgb(254, 255, 216);">
          <script>
            $('#SQL').val('');
            <% @sql = 'No hay SQL.' unless @sql %>
            $('#SQL').append('<%= @sql %>');
          </script>
        </div>
      </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>