<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Car World Center" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>

      <div class="large-2 columns" style="height:100%; padding:0px; background-color: #DFDFDF">
        <%= render 'layouts/side_nav' %>
      </div>

      <div class="large-10 columns" style="padding: 5px 10px 0px 23px;">
        <%= yield %>
      </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>